body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  div {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
  }
  
  label {
    display: block;
    margin: 10px 0;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  h2 {
    color: #333;
  }
  
  p {
    margin: 10px 0;
  }
  
  #espacio {
    padding: 20px;
  }

  .titulo-principal {
    font-size: 36px;
    font-weight: bold;
  }
  
  .boton-crear {
    background-color: #ff5733;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px;
  }